[Unit]
Description=offsite zeromq broker
After=network.target

[Service]
User=tactical
Group=tactical
WorkingDirectory=/app/offsite
Environment="PATH=/app/env/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/app/env/bin/python zbroker.py
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
