amqp==2.6.1
appdirs==1.4.4
asgiref==3.2.10
asyncio-nats-client==0.11.2
attrs==20.2.0
autobahn==20.7.1
Automat==20.2.0
billiard==3.6.3.0
black==19.10b0
celery==4.4.6
certifi==2020.6.20
cffi==1.14.3
channels==2.4.0
chardet==3.0.4
click==7.1.2
constantly==15.1.0
cryptography==3.2.1
daphne==2.5.0
decorator==4.4.2
Django==3.1.3
django-celery-beat==2.1.0
django-cors-headers==3.5.0
django-rest-knox==4.1.0
django-timezone-field==4.0
djangorestframework==3.12.1
hyperlink==20.0.1
idna==2.10
incremental==17.5.0
kombu==4.6.11
loguru==0.5.3
msgpack==1.0.0
pathspec==0.8.0
psutil==5.7.3
psycopg2-binary==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyHamcrest==2.0.2
pyOpenSSL==19.1.0
python-crontab==2.5.1
python-dateutil==2.8.1
pytz==2020.4
pyzmq==19.0.2
redis==3.5.3
regex==2020.10.28
requests==2.24.0
service-identity==18.1.0
six==1.15.0
sqlparse==0.4.1
toml==0.10.2
Twisted==22.10.0
txaio==20.4.1
typed-ast==1.4.1
urllib3==1.25.11
uWSGI==2.0.19.1
validators==0.18.1
vine==1.3.0
zope.interface==5.1.2
